<div class="books delete">
    <%= link_to "Back to books", books_path %>
    <h1>Delete Book</h1>
    <%= form_for(@book, method: 'delete') do |f| %>
        <p>Are you sure you want to permanently delete this book?</p>
        <%= render @book %>

        <div class="form-buttons">
            <%= f.submit("Delete Book") %>
        </div>
    <% end %>
</div>
