<div class="user book delete">
    <%= link_to "Back to user books", user_book_path %>
    <h1>Delete User Book</h1>
    <%= form_for(@user_book, method: 'delete') do |f| %>
        <p>Are you sure you want to permanently delete this user book?</p>
        <%= render @user_book %>

        <div class="form-buttons">
            <%= f.submit("Delete User Book") %>
        </div>
    <% end %>
</div>
